<body background="/images/img3.jpg" style="background-size: cover;">

<div>

<br>
<br>
<br>
<form action="/users/{{user.id}}/videos/" method="POST">
  <div>
    <label for="artist_name">What is the artist's name?</label>
    <input style="color: black;" type="text" name="artist_name">
  </div>

  <div>
    <label for="video_title">What is the name of the video?</label>
    <input type="text" name="video_title">
  </div>

  <div>
    <label for="genre">What is the video's genre?</label>
    <!-- <input type="text" name="genre"> -->
  </div>

  <div class="checkbox">
  <label for="genre">
    <input name="genre" type="checkbox" value="Soft Spoken"/>
    Soft Spoken
  </label>
  </div>
  <div class="checkbox">
  <label for="genre">
    <input name="genre" type="checkbox" value="No Talking"/>
    No Talking
  </label>
  </div>
  <div class="checkbox">
  <label for="genre">
    <input name="genre" type="checkbox" value="Eating"/>
    Eating
  </label>
  </div>
  <div class="checkbox">
  <label for="genre">
    <input name="genre" type="checkbox" value="Role Play"/>
    Role Play
  </label>
  </div>
  <div class="checkbox">
  <label for="genre">
    <input name="genre" type="checkbox" value="Massage"/>
    Massage
  </label>
  </div>
  <div class="checkbox">
  <label for="genre">
    <input name="genre" type="checkbox" value="Doing Makeup"/>
    Doing Makeup
  </label>
  </div><div class="checkbox">
  <label for="genre">
    <input name="genre" type="checkbox" value="Men's Shaving"/>
    Men's Shaving
  </label>
  </div>

  <div>
    <label for="language">What languages are spoken?</label>
    <input type="text" name="language">
  </div>

  <div>
    <label for="triggers">What triggers are in the video?</label>
    <!-- <input type="text" name="triggers"> -->
  </div>

  <div class="checkbox">
  <label for="triggers">
    <input name="triggers" type="checkbox" value="Whispering"/>
    Whispering
  </label>
  </div>
  <div class="checkbox">
  <label for="triggers">
    <input name="triggers" type="checkbox" value="Tapping"/>
    Tapping
  </label>
  </div>
  <div class="checkbox">
  <label for="triggers">
    <input name="triggers" type="checkbox" value="Brushing"/>
    Brushing
  </label>
  </div>
  <div class="checkbox">
  <label for="triggers">
    <input name="triggers" type="checkbox" value="Page Turning"/>
    Page Turning
  </label>
  </div>
  <div class="checkbox">
  <label for="triggers">
    <input name="triggers" type="checkbox" value="Crinkle Sounds"/>
    Crinkle Sounds
  </label>
  </div>
  <div class="checkbox">
  <label for="triggers">
    <input name="triggers" type="checkbox" value="Mouth Sounds"/>
    Mouth Sounds
  </label>
  </div>
  <div class="checkbox">
  <label for="triggers">
    <input name="triggers" type="checkbox" value="Water Sounds"/>
    Water sounds
  </label>
  </div>

  <div>
    <label for="date">On what date was the video uploaded?</label>
    <input type="text" name="date">
  </div>

  <div>
    <label for="video_length_mins">How long is the video in minutes?</label>
    <input type="text" name="video_length_mins">
  </div>

  <div>
    <label for="url">Please paste the HTML Embed Code here.</label>
    <input type="text" name="url">
    <img src="/images/embed.png" width="648">
  </div>
  <br>

  <input type="submit" value="Submit">
</form>

</div>
</body>