<body background="/images/img3.jpg" style="background-size: cover;">

<div style="color: white; text-shadow: 2px 2px black;">

<br>
<br>
<br>
<form action="/users/{{user.id}}/videos/" method="POST">
  <div>
    <label for="artist_name">What is the artist's name?</label>
    <input type="text" name="artist">
  </div>

  <div>
    <label for="video_title">What is the name of the video?</label>
    <input type="text" name="video_title">
  </div>

  <div>
    <label for="genre">What is the video's genre?</label>
    <input type="text" name="genre">
  </div>

  <div>
    <label for="language">What languages are spoken?</label>
    <input type="text" name="language">
  </div>

  <div>
    <label for="triggers">What triggers are in the video?</label>
    <input type="text" name="triggers">
  </div>

  <div>
    <label for="date">On what date was the video uploaded?</label>
    <input type="text" name="date">
  </div>

  <div>
    <label for="video_length_mins">How long is the video in minutes?</label>
    <input type="text" name="video_length_mins">
  </div>

  <div>
    <label for="url">Please paste the video url here.</label>
    <input type="text" name="url">
  </div>

  <input type="submit" value="Submit">
</form>

</div>
</body>