body {
  	padding-top: 70px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  color:black;
}

a {
	color: white;
}

a:hover {
	color: default;
	text-decoration: none;
}

input {
	color: black;
}