body {
  	padding-bottom: 70px;
  	padding-top: 70px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  color:black;
}

a, p {
	color: white;
}

a:hover {
	color: default;
	text-decoration: none;
}

div.caption a, div.caption p, input {
	color: #777;
}

div.caption a:hover {
	color: #5e5e5e;
	text-decoration: none;
}

form {
	color: white;
	text-shadow: 2px 2px black;
}

.page-header {
	color: white;
}

.white {
	color: rgba(255, 255, 255, 1);
}
