<body background="../images/img11.jpg" style="background-size: cover;">

<div class="page-header">
	<h1 style="color: white;">Log In:</h1>
</div>

<form action="/sessions/login" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">password</label>
    <input type="text" name="password">
  </div>

  <input type="submit" value="Submit">
</form>
</body>