<h2>{{user.username}}</h2>
<p>{{user.about}}</p>

<h3>Videos:</h3>
<ul>
  {{#each user.video}}
  	<li>
    	<p>Title: {{this.video_title}}</p>
    </li>
  {{/each}}
</ul>


<a href="/users/{{user.id}}/edit" class="btn btn-default">Edit User</a>
<a href="/users" class="btn btn-default">Back to Users</a>